<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MongoDB.Bson" version="2.4.4" targetFramework="net471" />
  <package id="MongoDB.Driver" version="2.4.4" targetFramework="net471" />
  <package id="MongoDB.Driver.Core" version="2.4.4" targetFramework="net471" />
  <package id="MySqlConnector" version="0.29.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net471" />
  <package id="System.Data.SqlClient" version="4.4.0" targetFramework="net471" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net471" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net471" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net471" />
</packages>