<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for VIEApps.Components.Repository" Description="Code analysis rules for VIEApps.Components.Repository.csproj." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="None" />
    <Rule Id="IDE0002" Action="None" />
    <Rule Id="IDE0003" Action="None" />
  </Rules>
</RuleSet>